@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 1100px) {
    .product {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }

    .card__title {
        grid-column: span 2;
    }

    .card__box {
        grid-row: 2;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav__burger i {
        display: inline-block;
    }

    .nav__burger:focus ~ .menu {
        display: flex;
       
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        min-width: 200px;
        background: rgba(0, 0, 0, 0.8);
        
    }

    .menu__link {
        width: 100%;
        margin-left: 0;
    }

    .nav__content {
        position: relative;
    }

    .header__title {
        font-size: 60px;
    }

    .header__subtitle {
        font-size: 30px;
    }

    .header__price {
        font-size: 40px;
        line-height: 0.8;
        padding: 30px 45px;
    }
}

@media (max-width: 960px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__title {
        grid-column: span 1;
    }

    .card__box {
        grid-row: 1;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__box {
        flex-direction: column;
    }

    .header {
       text-align: center; 
    }

    .header__price {
        margin-bottom: 30px;
    }

    .map__title {
        font-size: 35px;
    }

    .about__desc {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .product {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }

    .card__title {
        grid-column: span 2;
    }

    .card__box {
        grid-row: 2;
    }

    .about__title {
        font-size: 45px;
    }
}

@media (max-width: 520px) {
    .service {
        flex-direction: column;
    }

    .service__link {
        margin: 15px 10px;
        display: inline-block;
    }

    .logo {
        font-size: 20px;
        line-height: 0.9;
    }

    .header__title {
        font-size: 40px;
    }

    .header__desc, .header__link {
        font-size: 16px;
    }
    
    .tab__menu {
        justify-content: center;
    }

    .footer__box {
        flex-direction: column;
    }

    .footer__phone {
        margin-top: 20px;
    }

    .footer__menu {
        padding: 40px;
        flex-wrap: wrap;
    }

    .footer__link {
        margin: 10px;
        display: inline-block;
    }

    
}

@media (max-width: 480px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__title {
        grid-column: span 1;
    }

    .card__box {
        grid-row: 1;
    }
} 
    
